#total,html{
    margin:0px;
	width:100%;
    height:100%;
	padding:0px;
	background-image: url("../img/background.jpg");
    font-family: Arial black;
    color: black;
}
.marcadores{
    width: auto; 
	height: auto; 
    max-width: 150px;
    width: 100%;
    font-size: 120%;
    padding: 2px;
    margin-bottom: 2px;
    text-align: left;
	background-color: yellow;
    margin: 10px;
}
#jugarOtraVez{
	font-size:2vw;
}
#jugarAgain{
	font-size:2vw;
}	
#derecha{
    display:block;
    width:33.3%; 
    height:100%;
    position: fixed; 
    right: 0px;
    top: 0px;
}
#reanudar {
    display: none;
    float: right;
    color: black;
    font-size: 0%;
    margin: 30px;
    margin-top: 5%;
    text-align: center;
    width: 70px;
    height: 70px;
    background-image: url("../img/botoplay.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50% 50%;
}
#reanudar p {
    margin-top: 0px;
}
#pausa {
    display: inline-block;
    float: right;
    color: black;
    text-align: center;
    margin: 3px;
    margin-top: 5%;
	font-size: 0%;
    width: 70px;
    height: 70px;
    background-image: url("../img/botorestart.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50% 50%;
}
#instrucciones {
    display: inline-block;
    float: right;
    margin: 3px;
    margin-top: 5%;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 0%;
    background-image: url("../img/botoopcions.png");
    background-repeat: no-repeat;
	background-size: 65%;
    background-position: 50% 50%;
}
#menuInstrucciones {
    margin: 5%;
    background-color:blue;
    text-align: center;
    position: absolute;
    display: none;
}
#instrucciones p {
    margin-top: 0px;
}
#close {
    width: 15%;
    max-width: 50px;
    position: absolute;
    top: 2px;
    right: 2px;
}
#luna {
    height: 100%; 
    width: 100%;
}
#aterrizar{
    height:10%;
    width:100%;
    position:fixed;
    bottom:0px;
}
#nave{
    text-align:center;
    position:fixed;
    top:5%;
    width:100%;
    height:15%;
}
#botonOn{
    display: none;
}
#nave{
    text-align:center;
    position:fixed;
    top:5%;
    width:100%;
    height:15%;
}
#perdedor{
	 width: 50%;
    left: 25%;
    top: 10%;
	background-color:blue;
    text-align: center;
    position: absolute;
    display: none;
}
#ganador{
	 width: 50%;
    left: 25%;
    top: 10%;
    background-color:blue;
    text-align: center;
    position: absolute;
    display: none;
   
}

