#total,html{
    height:100%;
	padding:0px;
	margin:0px;
	width:100%;
    background-image: url("../img/background.jpg");
    font-family: Arial black;
    color: black;
}
.marcadores{
    width: auto; 
    height: auto; 
    max-width: 150px;
    background-color: yellow;
    margin: 10px;
    width: 100%;
    font-size: 120%;
    padding: 2px;
    margin-bottom: 2px;
    text-align: left;
}
#jugarOtraVez{
	font-size:3vw;
}	
#jugarAgain{
	font-size:3vw;
}	
#reanudar {
     width: 70px;
    height: 70px;
	display: none;
    float: right;
    margin: 30px;
    margin-top: 5%;
    color: black;
    font-size: 0%;
    text-align: center;
	background-image: url("../img/botoplay.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50% 50%;
}
#reanudar p {
    margin-top: 0px;
}
#derecha{
    width:33.3%; 
    height:100%;
    display:block;
	position: fixed; 
    right: 0px;
    top: 0px;
}
#pausa {
    width: 70px;
    height: 70px;
	display: inline-block;
    float: right;
    margin: 3px;
    margin-top: 5%;
    color: black;
    text-align: center;
    font-size: 0%;
    background-image: url("../img/botorestart.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50% 50%;
}
#instrucciones {
    width: 70px;
    height: 70px;
	display: inline-block;
    float: right;
    margin: 3px;
    margin-top: 5%;
    text-align: center;
    font-size: 0%;
    background-image: url("../img/botoopcions.png");
    background-repeat: no-repeat;
	background-size: 65%;
    background-position: 50% 50%;
}
#instrucciones p {
    margin-top: 0px;
}
#menuInstrucciones {
    margin: 5%;
    background-color:blue;
    text-align: center;
    position: absolute;
    display: none;
}
#botonOn{
    display: none;
}
#close {
    width: 15%;
    max-width: 50px;
    position: absolute;
    top: 2px;
    right: 2px;
}
#luna {
    height: 100%; 
    width: 100%;
}
#nave{
    text-align:center;
    position:fixed;
    top:5%;
    width:100%;
}
#aterrizar{
    height:10%;
    width:100%;
    position:fixed;
    bottom:0px;
}
#perdedor{
    width: 50%;
    left: 25%;
    top: 10%;
	background-color:blue;
    text-align: center;
    position: absolute;
    display: none;
}
#ganador{
	width: 50%;
    left: 25%;
    top: 10%;
	background-color:blue;
    text-align: center;
    position: absolute;
    display: none;
}
